<main id="productGrid">
  <div class="container px-0">
    <div class="row no-gutters">
      <div class="col-12 col-lg-2 p-2">
        <div class="navbar-collapse collapse filter-field border rounded" id="filterList">
          <form id="form" method="get">
            <div class="bg-white p-3">
              <span class="head">Sort By</span>
              <div class='sort mb-4 form-group'>
                <select class="form-select p-0" id="sort" name="sort" style="border:1px solid #ccc !important;">
                  <option selected value="">Relevancy</option>
                  <option name="LH" value='LH'>Price(Low to High)</option>
                  <option name="HL" value='HL'>Price(High to Low)</option>
                  <option name="AZ" value='AZ'>Brand(A to Z)</option>
                  <option name="ZA" value='ZA'>Brand(Z to A)</option>
                </select>
              </div>
              <p class="head">Filter By</p>
              <div class="brand mt-2">
                <p class="head">Brand</p>
                <div class="filter overflow-auto" id="brand-list"
                  style="max-height:7rem; border-bottom: 1px solid #e3e3e3;">
                  <ul class="p-0 list-unstyled brands">
                  </ul>
                </div>
              </div>
              <div class="promotion mt-2">
                <p class="head">Promotion</p>
                <div class='filter rounded'>
                  <ul class="p-0 list-unstyled">
                    <li><input name="promotion" type='checkbox' value="F" /> Featured</li>
                    <li><input name="promotion" type='checkbox' value="NA" /> New Arrival</li>
                    <li><input name="promotion" type='checkbox' value="BS" /> Best Seller</li>
                    <li><input name="promotion" type='checkbox' value="PP" /> Popular Product</li>
                    <li><input name="promotion" type='checkbox' value="D" /> Discounted</li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col" id="results">
        <div class="container">
          <div class="row mt-4">
            {{#if category}}
            <h4>{{{category}}}</h4>
            {{else if search}}
            <h4>Results for '{{{search}}}'</h4>
            {{/if}}
          </div>
          <div class="row g-0 row-cols-2 row-cols-xs-1 row-cols-md-3 row-cols-lg-4">
            <div class="product-card col">
              <a href="/product" class="text-dark">
                <div class="card border-0">
                  <img class="card-img-top p-5" src="/images/laptop.png" alt="Product Image">
                  <div class="card-body">
                    <p class="card-title p m-0">Brand</p>
                    <p class="card-text mb-0">Name</p>
                    <p class="card-text py-4">$15</p>
                    <a href="" class="btn btn-primary"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                  </div>
                </div>
              </a>
            </div>
            <div class="product-card col">
              <a href="/product" class="text-dark">
                <div class="card border-0">
                  <img class="card-img-top p-5" src="/images/laptop.png" alt="Product Image">
                  <div class="card-body">
                    <p class="card-title p m-0">Brand</p>
                    <p class="card-text mb-0">Name</p>
                    <p class="card-text py-4">$15</p>
                    <a href="" class="btn btn-primary"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                  </div>
                </div>
              </a>
            </div>
            <div class="product-card col">
              <a href="/product" class="text-dark">
                <div class="card border-0">
                  <img class="card-img-top p-5" src="/images/laptop.png" alt="Product Image">
                  <div class="card-body">
                    <p class="card-title p m-0">Brand</p>
                    <p class="card-text mb-0">Name</p>
                    <p class="card-text py-4">$15</p>
                    <a href="" class="btn btn-primary"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                  </div>
                </div>
              </a>
            </div>
            <div class="product-card col">
              <a href="/product" class="text-dark">
                <div class="card border-0">
                  <img class="card-img-top p-5" src="/images/laptop.png" alt="Product Image">
                  <div class="card-body">
                    <p class="card-title p m-0">Brand</p>
                    <p class="card-text mb-0">Name</p>
                    <p class="card-text py-4">$15</p>
                    <a href="" class="btn btn-primary"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var filterToggle = document.getElementsByClassName("filter-toggle")[0];
    filterToggle.classList.remove("d-none");
  });
</script>