<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/checkout.css">
<p id="Header">Checkout<br>Page</p>
<div class="row">
  <div class="col-75">
    <div class="container">
      {{!-- When form submitted, transport to here --}}
      <form action="/" style="checkout.css">
      
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            {{!-- Name --}}
            <label for="name"><i class="fa fa-user"></i>Full Name</label>
            <input class="form-control" type="text" placeholder="Example: Chia Kai Jun" id="name" required>

            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input class="form-control" type="email" id="email" placeholder="Example: john@example.com" required><br>
            
            <label for="adr"><i class="fa fa-address-card-o"></i> Address (Street, Block, Unit Number)</label>
            <input class="form-control" type="text" id="adr" name="address" placeholder="Example: Ang Mo Kio Street 69, Blk106P, #07-212" required>

            <div class="row">
              <div class="col-50">
                <label for="zip">Zip</label>
                <input class="form-control" 
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                {{!-- Javascript code needed here to prevent using text --}}
                pattern="\d*" maxlength="6" type="number" id="zip" name="zip" placeholder="Example: 123456" required>
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            {{!-- Available credit cards to use with image --}}
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
            </div>
            
            <label for="cname">Name on Card</label>
            <input class="form-control" type="text" id="cname" name="cardname" required>
            
            <label for="ccnum">Credit card number</label>
            <input class="form-control" type="text" maxlength="19" id="ccnum" name="cardnumber" placeholder="Example: 1111-2222-3333-4444"required>
            
            <label for="expmonth">Exp Month</label>
            <input class="form-control" <input class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            min="1" max="12" maxlength="2" pattern="\d*"type="number" id="expmonth" name="expmonth" required>
            
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                 pattern="\d*" maxlength="4" type="number" id="expyear" name="expyear" required>
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type="password" id="cvv" name="cvv" pattern="\d*" maxlength="3" required>
              </div>
            </div>
          </div>
          
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h4>
      {{!-- Will be currently empty if nothing and have items if something there --}}
      Currently empty!
      <hr>
      <p>Total <span class="price" style="color:black"></span></p>
      {{!-- Will display nothing if there are no items and will compute total cost if there are items --}}
    </div>
  </div>
</div>