<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/checkout.css">
{{!-- <link rel="stylesheet" href="../js/checkout.js"> --}}
<script src="https://cdn.jsdelivr.net/npm/idb@3.0.2/build/idb.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<p id="Header">Checkout page</p>
<div class="row">
  <div class="col-75">
    <div class="containeer">
      {{!-- When fom submitted, transport to here --}}
      <form id="form" method="GET" action="receipt" style="checkout.css">
      
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            {{!-- Name --}}
            <label for="name"><i class="fa fa-user"></i> Full Name*</label>
            <input class="form-control" type="text" placeholder="Example: Chia Kai Jun" id="name" required />

            <label for="email"><i class="fa fa-envelope"></i> Email*</label>
            <input class="form-control" type="email" id="email" placeholder="Example: john@example.com" required />
            
            <label for="adr"><i class="fa fa-address-card-o"></i> Address (Street, Block, Unit Number)*</label>
            <input class="form-control" type="text" id="adr" name="address" placeholder="Example: Ang Mo Kio Street 69, Blk106P, #07-212" required />

            <div class="row">
              <div class="col-50">
                <label for="zip">Zip*</label>
                <input class="form-control" 
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                {{!-- Javascript code needed here to prevent using text --}}
                pattern="\d*" minlength="6" maxlength="6" type="number" id="zip" name="zip" placeholder="Example: 123456" required />
              </div>
            </div>
          </div>
          <div class="col-50">
            <h3>Payment</h3>
            {{!-- Available credit cards to use with image --}}
            <label for="fname">Accepted Cards</label>
            <select class="form-select" id="card" name="card" required />
            <option value="">-- Select an option --</option>
            <option class="fa fa-cc-visa" value="Visa" style="color:blue;">Visa</option>
            <option class="fa fa-cc-mastercard" value="Mastercard" style="color:red;" value="Mastercard">Mastercard</option>
            </select>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
            </div>
            
            <label for="cname">Name on Card*</label>
            <input class="form-control" type="text" id="cname" name="cname" required />
            
            <label for="ccnum">Credit card number*</label>
            <input class="form-control" 
            type="text" minlength="19" maxlength="19" id="ccnum" name="ccnum" placeholder="Example: 1111-2222-3333-4444" required />
                        
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Month and Year*</label>
                <input class="form-control" type="month" id="expyear" name="expyear" required />
              </div>
              <div class="col-50">
                <label for="cvv">CVV*</label>
                <input class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type="password" id="cvv" name="cvv" pattern="\d*" minlength="3" maxlength="3" required />
              </div>
            </div>
          </div>
          
        </div>
        {{!-- Will link to thank you for purchase, but now link to base for testing --}}
        <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button><span id="hi">* - Must be filled in</span>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h4>
      {{!-- Will be currently empty if nothing and have items if something there --}}
      <input class="form-control" type="text" id="item" name="item" value="Thinkpad Laptop" readonly></input>
      <h4>Quantity</h4>
      <input class="form-control" type="number" id="quantity" name="quantity" value="0" min="1" onchange="calculate()" required></input>
      <img class="card-img-top p-5" src="/images/laptop.png" id="laptopimage">
      <input class="form-control" type="number" id="originalcost" name="originalcost" value="100" style="color:black" readonly></input>
      <hr>
      <h4>Total</h4>
      <input class="form-control" type="number" id="total" name="total" value="100" style="color:black" readonly required></input>
      {{!-- Will display nothing if there are no items and will compute total cost if there are items --}}
    </div>
  </div>
  </form>
</div>
<script>
  calculate();
  let db;
  init();
  function submitForm(){
    help();
    Insert();
  }
  async function init() {
  db = await idb.openDb('ordersDb', 1, db => {
    db.createObjectStore('orders', {keyPath: 'id', autoIncrement:true});
  });
  }
  async function Insert(){
    let name = document.getElementById("name").value;
    let email = document.getElementById("email").value;
    let adr = document.getElementById("adr").value;
    let zip = document.getElementById("zip").value;
    let cname = document.getElementById("cname").value;
    let ccnum = document.getElementById("ccnum").value;
    let card = document.getElementById("card").value;
    let expyear = document.getElementById("expyear").value;
    let cvv = document.getElementById("cvv").value;
    let item = document.getElementById("item").value;
    let quantity = document.getElementById("quantity").value;
    let total = document.getElementById("total").value;
    let tx = db.transaction('orders', 'readwrite');
    await tx.objectStore('orders').add({name, email, adr, zip, cname, ccnum, card, expyear, cvv, item, quantity, total});
    await list();
  } 

  async function list() {
  let tx = db.transaction('orders');
  let checkoutform = tx.objectStore('orders');

  let orders = await checkoutform.getAll();
}

function calculate(){
  let total = document.getElementById("originalcost").value;
  let quantity = document.getElementById("quantity").value;
  let sum = total * quantity;
  document.getElementById("total").value = sum;
}

function help(){
    if(typeof(localStorage) != "undefined"){
        var name = document.forms["form"]["name"].value;
        var email = document.forms["form"]["email"].value;
        var adr = document.forms["form"]["adr"].value;
        var zip = document.forms["form"]["zip"].value;
        var cname = document.forms["form"]["cname"].value;
        var ccnum = document.forms["form"]["ccnum"].value;
        var expyear = document.forms["form"]["expyear"].value;
        var cvv = document.forms["form"]["cvv"].value;
        var quantity = document.forms["form"]["quantity"].value;
        if (name == null || name == "", email == null || email == "", adr == null || adr == "", 
        zip == null || zip == "", cname == null || cname == "", ccnum == null || ccnum == "", 
        expyear == null || expyear == "", cvv == null || cvv == "", quantity == null || quantity == "") {
        return false;
        }
        localStorage.name = document.getElementById("name").value;
        localStorage.email = document.getElementById("email").value;
        localStorage.adr = document.getElementById("adr").value;
        localStorage.zip = document.getElementById("zip").value;
        localStorage.cname = document.getElementById("cname").value;
        localStorage.ccnum = document.getElementById("ccnum").value;
        localStorage.expyear = document.getElementById("expyear").value;
        localStorage.card = document.getElementById("card").value;
        localStorage.item = document.getElementById("item").value;
        localStorage.quantity = document.getElementById("quantity").value;
        localStorage.total = document.getElementById("total").value;
    }
  }
</script>