<body onload="setData()">
<p id="name">
<p id="email">
Name: <!-- want to display the name here -->
</p>
<script>
function setData(){
    if(typeof(localStorage) != "undefined"){
        document.getElementById("name").innerHTML = localStorage.name;
        document.getElementById("email").innerHTML = localStorage.email;
        document.getElementById("adr").innerHTML = localStorage.adr;
        document.getElementById("zip").innerHTML = localStorage.zip;
}
</script>
</body>