/* Navbar */ 

@media (min-width: 991.5px) {
  .navbar .dropdown-menu {
    width: 50em !important;
  }
}

@media (max-width: 991.5px) {
  .navbar .navbar-nav {
    margin-left: 0 !important
  }

  .navbar .nav-link {
    padding-left: 0 !important
  }

  .navbar #dropdownMenuButton1 {
    padding: 0
  }
}

/* Index Page */ 

#indexPage p {
  font-size: 1.1em !important
}

/* Carousel base class */
#indexPage .carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
#indexPage #Carousel .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#indexPage #Carousel .carousel-item {
  height: 32rem;
}

#indexPage #Carousel .carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.product-card a:hover {
  text-decoration: none;
  color: black
}

#indexPage .card-body {
  padding: 0
}

#indexPage .product-card a {
  text-decoration: none;
}

#indexPage .carousel-indicators button {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 0.3rem 0 0.3rem;
}

#indexPage .carousel-indicators .active {
  background-color: #444;
}

@media (max-width: 400px) {
  #indexPage p {
    font-size: 1em !important
  }
}

@media (max-width: 767px) {

  #indexPage .row {
    margin: 0.55em !important
  }

  #indexPage .product-card:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 991.5px) {

  #indexPage .product-card:nth-last-child(1) {
    display: none;
  }
}

@media (max-width: 1200px) {
  #indexPage .card-body>.btn {
    font-size: 0.9rem;
    border: none;
  }

  .p-5 {
    padding: 1rem !important
  }
}

@media (max-width: 1400px) {
  #indexPage .p-5 {
    padding: 1.6rem !important
  }
}

/* Product Grid */ 

@media (min-width: 991.5px) {
  #productGrid .filter-field {
    min-height: 100vh;
  }

  #productGrid .collapse:not(.show) {
    display: block;
  }
}

#productGrid .product-card a {
  text-decoration: none;
}

@media (max-width: 767px) {

  #productGrid .row {
    margin: 0.55em !important
  }

  #productGrid .container {
    padding: 0
  }
}

#productGrid .product-card a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  #productGrid .card-body>.btn {
    font-size: 0.9rem;
    border: none;
  }
}

/* Product Page */

#productPage .product-card a {
  text-decoration: none;
}

@media (max-width: 991.5px) {

  #productPage .product-card:nth-last-child(1) {
    display: none;
  }
}

@media (max-width: 767px) {
  #productPage .product-card:nth-last-child(-n+2) {
    display: none;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}